<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="./favicon.ico" type="image/gif">
    <link rel="stylesheet" href="app/app.css">
  </head>
  <body>
    <p>This server is a proxy to different public APIs to ease frontend POC development. Since public APIs need secret keys and some backend development, you'll make this once and for all, and then you will be able to focus on your front.</p>
    <ul>
      <% for(var api in apis) { %>
      <li>
        <a href="<%= apis[api].endpoint %>" title="<%= api %>"><%= apis[api].endpoint %></a>
        <% if(apis[api].description) { %>
         - <%- apis[api].description %>
        <% } %>
      </li>
      <% }; %>
    </ul>
  </body>
</html>